In [1]:
import pandas as pd

In [2]:
s1 = pd.read_csv('AV_WNS_forkkv2_CBstack_folds.csv')
s2 = pd.read_csv('sub2_10fold_lgbm.csv')

In [3]:
s1.head(2)

                      impression_id  is_click
0  a9e7126a585a69a32bc7414e9d0c0ada  0.015520
1  caac14a5bf2ba283db7708bb34855760  0.024357

In [4]:
s2.head(2)

                      impression_id  is_click
0  a9e7126a585a69a32bc7414e9d0c0ada  0.012703
1  caac14a5bf2ba283db7708bb34855760  0.002386

In [5]:
s1_array = np.array(s1['is_click'])
s2_array = np.array(s2['is_click'])

In [6]:
s2['is_click'] = s1_array*0.7 + s2_array*0.3
s2.head()

                      impression_id  is_click
0  a9e7126a585a69a32bc7414e9d0c0ada  0.014675
1  caac14a5bf2ba283db7708bb34855760  0.017766
2  13f10ba306a19ce7bec2f3cae507b698  0.067086
3  39c4b4dc0e9701b55a0a4f072008fb3f  0.012717
4  bf5a572cca75f5fc67f4b14e58b11d70  0.145120

In [7]:
s2.to_csv('ensemble_chetan_rajat_final.csv', index=False)